%flexible-parent {
    display:flex; /* flexible parent */
}

%flex-direction-column {
    @extend %flex-direction-column; //flex-direction:column;
}

%ungrowable {
    flex-grow:0;
}

%flex-grow-1 {
    flex-grow:1;
}

%growable {
    @extend %flex-grow-1;
}

%flex-shrink-0 {
    flex-shrink:0;
}

%unshrinkable {
    @extend %flex-shrink-0;
}

%flex-shrink-1 {
    flex-shrink:1;
}

%shrinkable { // alias for %flex-shrink-1
    flex-shrink:1;
}

%flex-direction-column {
    flex-direction:column;
}

%align-items-stretch {
    align-items:stretch;
}

%justify-content-flex-start {
    justify-content:flex-start;
}

%justify-content-center {
    justify-content:center;
}

%flex-direction-row {
    flex-direction:row;
}

%justify-content-flex-end {
    justify-content:flex-end;
}

%align-items-flex-start {
    align-items:flex-start;
}

%align-items-stretch {
    align-items:stretch;
}

%flex-wrap-nowrap {
    flex-wrap:nowrap;
}

%flex-unwrappable {
    @extend %flex-wrap-nowrap;
}

%flex-wrap-wrap {
    flex-wrap:wrap;
}

%flex-wrappable {
    @extend %flex-wrap-wrap;
}

%align-self-flex-end {
    align-self:flex-end;
}

%align-items-center {
    @include align-items(center);
}

%align-self-flex-start {
    @include align-self(flex-start);
}

%flex-basis-auto {
    @include flex-basis(auto);
}

%flex-basis-all {
    @include flex-basis(100%);
}

%flex-basis-none {
    @include flex-basis(0%); // http://philipwalton.com/articles/normalizing-cross-browser-flexbox-bugs/#avoiding-unitless-flex-basis
}