@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "spec/tacular";

@import "eureka-boilerplate/main"; /* h5bp but scoped to .eureka-wrapper */

@import "bourbon-flex-shortcuts/bourbon-flex-shortcuts";

$borderColor:rgb(160,160,160);
$black:rgb(10,10,10);
$white:rgb(250,250,250);

$contextualBG:lighten($black,82%);
$contextualBorder:lighten($black,54%);
$contextualColor:lighten($black,36%);
$goGreen:rgb(33,163,0);

$topBarH:4.8rem;

%subtle-link {
    text-decoration:none;
    color:inherit;
    color:currentColor;
    &:hover {
        
    }
}

%monospaced {
    font-family: monospace; /* Andale Mono,AndaleMono, */
}

%smaller {
    font-size:0.86em;
}

%inverted {
    background:$black;
    color:$white;
}

%bottom-seperated {
    padding-bottom:0.5em;
    border-bottom:1px solid lighten($borderColor,24%);
}

%top-seperated {
    padding-bottom:0.5em;
    border-top:1px solid lighten($borderColor,24%);
}

$danger:darken(red,8%);
%dangerous {
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    &:focus, &.focused {
        background:$danger;
        border-top:1px solid darken($danger,4%);
        border-bottom:1px solid darken($danger,4%);
        color:$white;
    }
    html.no-touch & {
        &:hover {
            background:$danger;
            border-top:1px solid darken($danger,4%);
            border-bottom:1px solid darken($danger,4%);
            color:$white;
        }
    }
}

%green-bg {
    background:darken($goGreen,8%);
    color:$white;
    border-color:darken($goGreen,14%);
}

%go {
    &:focus,&.focused {
        @extend %green-bg;
    }
    html.no-touch & {
        &:hover {
            @extend %green-bg;
        }
    }
}

.dangerous {
    @extend %dangerous;
}

button {
    border-radius:0.4em;
    &[type="submit"] {
        cursor:pointer;
    }
}

.go {
    @extend %go;
}

.eureka-wrapper {
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    pre,code {
        @extend %monospaced;
    }
    .image {
        img {
            max-width:100%;
        }
    }
    .unaligned {
        text-align:center;
    }
    button, .btn {
        margin:0 auto;
        border:none;

        .contextual & {
            padding:0 0.42em;
            font-size:0.86em;
            background:transparent;
            color:inherit;
        }  
    
        background:$black;
        color:$white;
        padding:0.24em 0.42em;
        //font-size:1.4em;
        .contextual & {
            color:lighten($black,82%);
            background:lighten($black,36%);
        }   
        &.go {
            @extend %green-bg;
        }

    }

    button.muted, button:disabled {
        background:lighten($black,50%);
        cursor:default;
    }

    button:disabled {
        opacity:0.678;
    }
}



html.no-touch, html.no-touch body, html.no-touch body > form {
    @include media($gtMobile) {
        height:100%;
        margin:0;
    }
}

.eureka__topbar-nav,.pathbrowser__topbar {
    h4 {
        font-size:1rem;
    }
}

#page-wrapper {
    @extend %flexible-parent; //@include display(flex);
}

@mixin firefox-hack() {
    @-moz-document url-prefix() { /* shame on firefox? */
        @content;
    }
}

.eureka-wrapper {
    border:1px solid $borderColor;
    border-radius:0.4em;
    @extend %growable; //@include flex-grow(1);

    html.no-touch & {
        
        @include media($gtMobile) {
            //height:100%;
            
            @include display(flex); 
            @include flex-direction(column);
            //@include justify-content(flex-end);
            > .eureka {
                @include flex-grow(1);
                @include flex-basis(100%);
                .stage {
                    @include display(flex);
                    width:100%;
                    @include flex-direction(column);
                    @include flex-wrap(nowrap);
                    > .eureka-table {
                        @include flex-grow(1);
                        height:100%;
                        @include flex-basis(100%);
                        > table {
                            > thead {
                                @include flex-basis(2em);
                            }
                            > tbody {
                                @include flex-basis(100%);
                            }
                        }
                    }
                }
            }
            
            > .proceed {
                @include flex-grow(0);
                @include flex-basis(4em);
                min-height:4em;
                width:100%;
            }
        }
    }
    
    > footer {
       margin-top:0.5em;
       text-align:center;
       border-top:1px solid lighten($borderColor,24%);
       padding:0.5em;
       @extend %flexible-parent;
       > * {
           @extend %growable;
           @extend %unshrinkable;
           margin-right:0.5em;
           &:last-of-type {
               margin-right:0;
           }
       }
   }
    
}

html.no-touch {
    .eureka-wrapper.hack-firefox {
        @include media($gtMobile) {
            > .eureka {
                @include firefox-hack() { // #janky
                    @include flex-basis(86%);
                    max-height:86%;
                }
                > .stage {
                    > .eureka-table {
                        @include firefox-hack() {
                            height:auto;
                            @include flex-basis(86%);
                            max-height:86%;
                        }
                    }
                }
            }
            > .proceed {
                @include firefox-hack() {
                    @include flex-grow(1);
                }
            }
        }
    }
}

.eureka {
    padding:0.5em 0.5em 0 0.5em;
}

.eureka__row-image {
    code {
        display:inline-block;
        text-align:center;
        @include media($gtTabletP) {
            text-align:left;
        }
    }
}

.greedy {
    width:100%;
}

%clickable {
    cursor:pointer;
}

.clickable {
    @extend %clickable;
}

.eureka {
    @extend %flexible-parent; //@include display(flex); 
    @extend %align-items-stretch; //@include align-items(stretch);
    @extend %justify-content-flex-start; //@include justify-content(flex-start);
    @extend %flex-wrap-nowrap; //@include flex-wrap(nowrap);
    @extend %flex-direction-column; //@include flex-direction(column);
    @include media($gtTabletP) {
        @include flex-direction(row);
        //max-height:80%;
    }
    > .pathbrowser {
        @extend %ungrowable; // @include flex-grow(0);
        @extend %unshrinkable; //@include flex-shrink(0);
        
        margin-right:0.5em;
        padding-right:0.5em;
        @extend %flexible-parent; // @include display(flex);
        @extend %flex-direction-column; //@include flex-direction(column);
        
        @include media($tabletP) {
            .pathbrowser__topbar, .tree {
                display:none !important;
            }
        }
        
        @include media($gtTabletP) {
            @include flex-basis(12em);
        }
        
        margin-bottom:0.5em;
        @include media($gtTabletP) {
            margin-bottom:0;
            border-right:1px solid lighten($borderColor,24%);
        }
        > .pathbrowser__topbar {
            @extend %bottom-seperated;
            @include flex-grow(0);
            h3,h4,h5,h6 {
                margin:0;
            }
            //@include flex-basis(2rem);
            @extend %flex-direction-column; //@include flex-direction(column);
            @extend %flexible-parent; //@include display(flex); 
            //height:2rem;
            padding-right:0.5em;
            @include media($gtTabletP) {
                @include flex-basis($topBarH);
            }
            
            > select {
                //@include flex-grow(1);
                //@include flex-basis(100%);
            }
        }
        > .tree {
            margin-top:0.5em;
            @extend %growable;
            @extend %unshrinkable;
            font-size:0.86em;
            overflow:auto;
            a {
                color:currentColor;
                text-decoration:none;
                cursor:pointer;
            }
            ul {
                padding:0;
                margin:0;
                list-style-type:none;
            }
            li {
                > ul {
                    html.js & {
                        display:none;
                    }
                    padding:0 0 0 1em;
                }
                &:focus,&.active {
                    > .path {
                        font-weight:bold;
                    }
                }
                &.open {
                    html.js & {
                        > ul {
                            display:block;
                        }    
                    }
                }
            }
        }
        > footer {
            @extend %top-seperated;
            @include media($tabletP) {
                border-width:0;
            }
            @include media($gtTabletP) {
                padding-top:0.5em;
            }
            padding-bottom:0;
            
            button {
                background:transparent;
                color:inherit;
                font-size:1.2em;
            }
            
            @include flex-grow(0);
            > nav {
                @extend %flexible-parent; //@include display(flex); 
                > a,>form, >.form {
                    @extend %ungrowable; //@include flex-grow(0);
                    @include flex-basis(50%);
                    text-align:center;
                    
                }
            }
            
        }
    }
    > .stage {
        @include flex-grow(1);
        @include media($gtTabletP) {
            @include flex-grow(1);
            @include flex-shrink(1);
            @include flex-basis(100%);
        }
        //@include flex-direction(column);
    }
    
    &.view-c {
        //@-moz-document url-prefix() { /* #janky #shame #hack */
            //overflow-x:auto;
        //}
        > .stage {
            @extend %ungrowable; //@include flex-grow(0);
            @include flex-shrink(1);
            //@include flex-basis(auto);
            max-width:100%;
            @include media($gtMobile) {
                @include flex-basis(100%);
            }
        }
    }
    
    > .stage > .eureka__topbar {
        @extend %ungrowable; //@include flex-grow(0);
        @extend %flex-shrink-1; //@include flex-shrink(1);
        @include flex-basis($topBarH * 1.4);
        .hack-firefox & {
            @include firefox-hack() {
                @include flex-basis(14%);
            }
        }
        @include media($gtTabletP) {
            @include flex-basis($topBarH);
        }
        //height:2rem;
        
    }
    > .stage > .eureka-table {
        @extend %flex-grow-1; //@include flex-grow(1);
        @extend %unshrinkable; //@include flex-shrink(0);
        //@include flex-basis(42em);
    }
    input[type="radio"] {
        margin-right:0.2em;
    }
}



.eureka__topbar-nav {
    > a, .view-btns a {
        padding:0.1em 0.2em 0 0.2em;
        &.current {
            background:rgb(220,220,220);
        }
    }
    
    .view-c-btn {
        @-moz-document url-prefix() { /* #janky #shame #hack https://twitter.com/mrktps/status/581889013574868992 */
            display:none;
        }
    }
}

.eureka-table {
    @extend %align-items-stretch; //@include align-items(stretch);
    @extend %flexible-parent; //@include display(flex); 
    @extend %flex-direction-column; //@include flex-direction(column);
    @extend %justify-content-center; //@include justify-content(flex-center);
    
    > footer {
        margin-top:1em;
    }
    > table {
        html.no-flexbox {
            display:block;
        }
        @include media($gtTabletP) {
            height:100%;    
        }
        .view-a &, .view-b &, .view-d & {
            @include media($gtTabletP) {
                //max-height:32em;
                //overflow-y:auto;
            }
        }

        @extend %growable; //@include flex-grow(1);
        @extend %shrinkable; //@include flex-shrink(0);
        @extend %flex-basis-auto; //@include flex-basis(auto);
        //max-height:38em;
        @extend %align-items-stretch; //@include align-items(stretch);
        @extend %flexible-parent; //@include display(flex); 
        @extend %flex-direction-column; //@include flex-direction(column);
        @extend %justify-content-center; //@include justify-content(flex-center);
        
        .view-a & {
            @include media($tabletP) {
                //display: block; 
            	/* Force table to not be like tables anymore */
            	thead, tbody, th, td, tr { 
            		//display: block; 
            	}
	
            	/* Hide table headers (but not display: none;, for accessibility) */
            	thead tr { 
            		position: absolute;
            		top: -9999px;
            		left: -9999px;
            	}
	
                tr:not(.contextual) {
                	td { 
                		/* Behave  like a "row" */
                		border: none;
                		border-bottom: 1px solid #eee; 
                		position: relative;
                		padding-left: 35%; 
                	}
                    
                    td.eureka__row-image { 
                        padding-left:0; 
                    }
	
                	td:before { 
                		/* Now like a table header */
                		position: absolute;
                		/* Top/left values mimic padding */
                		top: 0.1em;
                		left: 0.1em;
                		width: 25%; 
                        padding-left:0.5em;
                		padding-right: 0.5em; 
                		white-space: nowrap;
                	}
                }

            	/*
            	Label the data
            	*/
            	td:nth-of-type(1):before { content: "Name"; }
            	td:nth-of-type(2):before { content: "Dimensions"; }
            	td:nth-of-type(3):before { content: "File Size"; }
            	td:nth-of-type(4):before { content: "Edited On"; }
                tr.contextual td:before { display:none }
            }

            > thead > tr > th, > tbody > tr > td {
                &:last-of-type {
                    @include media($gtTabletP) {
                        padding-right:1em;
                    }
                }
            }
            > thead > tr > th {
                &:last-of-type {
                    padding-right:2em;
                }
            }
        }
        
        > thead {
            .view-a & {
                display:block;
            }
            .view-b &, .view-c &, .view-d & {
                display:none;
            }
            @extend %ungrowable; //@include flex-grow(0);
            @extend %unshrinkable; //@include flex-shrink(0);
            @include flex-basis(2em);
            
            @extend %flexible-parent; //@include display(flex); 
            > tr {
                @extend %growable; //@include flex-grow(1);
                @extend %unshrinkable; //@include flex-shrink(0);
                @include flex-basis(100%);
                
                @extend %flexible-parent; //@include display(flex); 
                > th {
                    @extend %growable; //@include flex-grow(1);
                    @extend %unshrinkable; //@include flex-shrink(0);
                    @extend %flex-basis-auto; //@include flex-basis(auto);
                    text-align:left;
                    
                    padding:0 0.4em;
                    .view-a & {
                        text-align:right;
                        padding-right:1em;
                        &:first-of-type {
                            @include flex-grow(12); /* #janky #shame */
                        }   
                    }
                }
            }
            
            .view-a & {
                @extend %justify-content-flex-end; //@include justify-content(flex-end);
            }
            
        }
        > tbody {
            @extend %growable; //@include flex-grow(1);
            @extend %shrinkable; //@include flex-shrink(1);
            //max-height:36em;
            @extend %flex-basis-auto; //@include flex-basis(auto);
            text-align:center;
            display:block;
            @extend %align-items-stretch; //@include align-items(stretch);
            @extend %flexible-parent; //@include display(flex); 
            @extend %flex-direction-row; //@include flex-direction(row);
            @extend %justify-content-center; //@include justify-content(flex-center);
            @extend %flex-wrap-wrap; //@include flex-wrap(wrap);
            overflow-y:auto;
            .view-a & {
                > tr {
                    html.no-flexbox {
                        display:block;
                    }
                    
                    @extend %growable; //@include flex-grow(1);
                    @extend %shrinkable; //@include flex-shrink(0);
                    @extend %flex-basis-all; //@include flex-basis(100%);
                    
                    .pathname {
                        padding-right:1em;
                    }
                }
            }
            
            .view-b & {
                @extend %align-items-flex-start; //@include align-items(flex-start);
                //@include box-pack(center);
                @extend %justify-content-flex-start; //@include justify-content(flex-start);
                @extend %flex-wrap-wrap; //@include flex-wrap(wrap);
                
                //overflow-y:auto;
                //overflow-x:hidden;
                
                img {
                    max-width:100%;
                    height:auto;
                }
            }
            .view-c & {
                @extend %align-items-stretch; //@include align-items(stretch);
                @extend %flexible-parent; //@include display(flex); 
                @extend %flex-direction-row; //@include flex-direction(row);
                @include justify-content(flex-center);
                @extend %flex-wrap-nowrap; //@include flex-wrap(nowrap);
                
                padding-bottom:1.2em;
                
                overflow-y:hidden;
                overflow-x:auto;

                //@-moz-document url-prefix() { /* #janky #shame #hack */
                    //overflow-x:hidden;
                //}
            }
            .view-d & {
                @include justify-content(flex-center);
                @extend %flex-direction-row; //@include flex-direction(row);
                @extend %align-items-center; //@include align-items(center);
                > tr {
                    max-width:100%;
                }
            }
            
            > tr {
                cursor:default;
                display:inline-block;
                margin:0;
                padding:0;
                @extend %ungrowable; //@include flex-grow(0);
                @extend %unshrinkable; //@include flex-shrink(0);
                @extend %flex-basis-all; //@include flex-basis(100%);
                @extend %align-items-flex-start; //@include align-self(flex-start);
                .view-d & {
                    @extend %flex-basis-auto; //@include flex-basis(auto);
                }
                > td {
                    html.no-flexbox & {
                        display:block;
                    }
                    @extend %ungrowable; //@include flex-grow(0);
                    @extend %unshrinkable; //@include flex-shrink(0);
                    @include flex-basis(10em);
                    overflow:hidden;
                    text-align:center;

                    .view-a & {
                        @extend %flexible-parent; //@include display(flex);
                        @extend %justify-content-flex-end; //@include justify-content(flex-end);
                        
                        &.eureka__row-image {
                            @extend %flex-direction-column; //@include flex-direction(column);
                            @include media($gtTabletP) {
                                @include flex-direction(row);
                            }
                        }
                    }

                    .view-b & {
                        display:none;
                        .pathname {
                            display:none;
                        }
                        &.eureka__row-image {
                            display:inline-block;    
                        }
                    }
                    
                    .view-c &, .view-d & {
                        @extend %growable; //@include flex-grow(1);
                        @extend %flex-basis-all; //@include flex-basis(100%);
                        &:not(.eureka__row-image) {
                            display:none;
                        }

                        .pathname {
                            display:none;
                        }
                    }
                    
                    .view-d & {
                        @extend %flex-basis-auto; //@include flex-basis(auto);
                    }
                }
                
                .view-a & {
                    @extend %align-items-stretch; //@include align-items(stretch);
                    /* what is happening here */
                    //@include display(flex); 
                    /* what is happening here?? */
                    @extend %flexible-parent; //@include display(flex); 
                    @extend %flex-direction-column; //@include flex-direction(column);
                    @include media($gtTabletP) {
                        @include flex-direction(row);
                    }
                    > td {
                        @include flex(1);
                        @extend %flexible-parent; //@include display(flex);
                        @extend %align-items-stretch; //@include align-items(stretch);
                        @extend %flex-wrap-nowrap; //@include flex-wrap(nowrap);
                        min-height:1.6em;
                        padding-top:0.3em;
                        padding-right:0.5em;
                        text-align:left;
                        @include media($gtTabletP) {
                            min-height:none;
                        }
                        > .image {
                            @include flex-grow(4);
                            @extend %unshrinkable; //@include flex-shrink(0);
                            @extend %flex-basis-auto; //@include flex-basis(auto);
                            
                            @extend %flexible-parent; //@include display(flex);
                            @extend %flex-direction-row; //@include flex-direction(row);
                            
                            > input[type="radio"] {
                                @extend %ungrowable; //@include flex-grow(0);
                                @extend %unshrinkable; //@include flex-shrink(0);
                                @extend %flex-basis-all; //@include flex-basis(auto);
                            }
                            
                            > img {
                                @extend %ungrowable; //@include flex-grow(0);
                                @extend %unshrinkable; //@include flex-shrink(0);
                                @extend %flex-basis-auto; //@include flex-basis(auto);
                            }
                        } 
                        > .pathname {
                            @extend %ungrowable; //@include flex-grow(0);
                        }
                    }
                    > td.eureka__row-image {
                        @include flex-grow(4);
                        @extend %unshrinkable; //@include flex-shrink(0);
                        text-align:left;
                        overflow:hidden;
                        img {
                            width:auto;
                            max-height:140px;
                        }
                        //@include flex-basis(100%);
                    }
                }
                
                &:focus, &.focused {
                    .view-a & {
                        > td.eureka__row-image {
                            img {
                                max-height:none;
                            }
                        }
                    }
                }
                
                &:focus {
                    /*
                    ~ tr {
                        opacity:0.5;
                    }
                    opacity:1;
                    */
                }
                
                .view-c & {
                    @include flex-basis(8em);
                    &.focused, &:focus {
                        @extend %flex-basis-auto; //@include flex-basis(auto);
                    }
                }
                
                .view-b & {
                    @include flex-basis(200px);
                    @include flex-shrink(1);
                    .image {
                        max-width:200px;
                    }
                    &.focused, &:focus {
                        .image {
                            max-width:none;
                        }
                    }
                }
                
                .view-b & {
                    @include flex-basis(200px);
                    margin:2px;
                    &.focused, &:focus {
                        //opacity:0.5;
                        @extend %flex-basis-all; //@include flex-basis(100%);
                        td > {
                            @include flex-basis(100%); // won't let you %extend flex-basis-all here
                        }
                    }
                }
                
            }
        }
    }

    .image {
        display:inline-block;
        position:relative;
        .view-b &, .view-c & {
            display:block;
        }

        height:auto;
    }
    a {
        @extend %subtle-link;
    }
    time {
        @extend %monospaced;
    }
    table {
        padding-top:1em;
        thead {
            th {
                position:relative;
                padding:0 1em 0 0;
                text-align:right;
            }
            .fa-sort {
                position:absolute;
                top:0.2em;
                right:0;
                @extend %smaller;
                cursor:pointer;
            }
        }
        tbody {
            //max-height:38em;
            @include media($gtTabletP) {
                //overflow-y:auto;
            }
            .view-c & {
                //overflow:auto;
            }
            tr {
                td {
                    text-align:right;
                    &:first-of-type {
                        text-align:left;
                    }
                }
            }
        }
    }
}

.eureka-table > table > tbody > tr.contextual {
    line-height:2em;
    .view-b &, .view-c &, .view-d & {
        display:none; // ok to hide even from #a11y
    }
    html.js &, .view-b &, .view-c &, .view-d & {
        position:absolute; // not display non for #a11y
        top:-99999em;
        left:-99999em;
        @extend %growable; //@include flex-grow(1);
        @extend %unshrinkable; //@include flex-shrink(0);
        @extend %flex-basis-none; //@include flex-basis(0);
    }
    .view-a & {
        //display:block;
        //@include display(flex);    
    }
    text-align:left;
    
    @extend %align-items-flex-start; //@include justify-content(flex-start);

    background:$contextualBG;
    border-top:1px solid $contextualBorder;
    border-bottom:1px solid $contextualBorder;
    color:$contextualColor;
    nav {
        padding:0 0.5em;
        @include flex(1);
    }
}

.view-a tr.eureka__row {
    &:focus,&.focused {
        + tr.contextual {
            html.js & {
                //display:table-row;
                position:relative;
                top:auto;
                left:auto;
                @extend %growable; //@include flex-grow(1);
                @extend %unshrinkable; //@include flex-shrink(0);
                @extend %flex-basis-all; //@include flex-basis(100%);
            }
        }
    }
}

tbody.filtered {
    > tr {
        &:not(.visible) {
            display:none;
        }
    }
}

.flexible_row {
    @extend %flexible-parent; //@include display(flex);
    @extend %flex-wrap-wrap; //@include flex-wrap(wrap);
    @extend %justify-content-flex-start; //@include justify-content(flex-start);
    @extend %align-items-flex-start; //@include align-items(flex-start);
    @include media($gtTabletP) {
        //@include flex-direction(row);
        @include flex-wrap(no-wrap);
        @include justify-content(center);
        @include align-items(center);
    }
    
    text-align:center;
    > * {
      @include flex(1 0 auto);
      margin:0.2em 0;
      @include media($gtTabletP) {
          margin:0;
      }
    }
    > form.tag {
        text-align:left;
        
    }
}

footer.proceed {
    button,.btn {
        font-size:1.24em;
        
    }
}

.contextual__nav {
    > a {
        margin-right:0.5em;  
        text-align:center;
        cursor:pointer;
        display:block;
        &:focus,&.focused,&:hover {
            color:$contextualBG;
            background:$contextualColor;
            border-top:1px solid $contextualBorder;
        }
        &.choose {
            @extend %go;
        }
        &.dangerous {
            @extend %dangerous;
        }
    }
    > form.tag {
        @extend %flexible-parent; //@include display(flex);
        @extend %justify-content-center; //@include justify-content(center);
        @extend %align-items-center; //@include align-items(center);
        padding:0 1em;
        > label {
            @extend %ungrowable; //@include flex(0);
            @extend %unshrinkable; //@include flex-shrink(0);
            @extend %flex-basis-auto; //@include flex-basis(auto);
        }
        > input[type="text"] {
            @include flex-grow(4);
            @extend %shrinkable; //@include flex-shrink(1);
            @extend %flex-basis-auto; //@include flex-basis(auto);
            margin:0 0.5em;
        }
        > button[type="submit"] {
            @extend %ungrowable; //@include flex(0);
            @extend %unshrinkable; //@include flex-shrink(0);
            @include flex-basis(4em);
        }
    }
    button,.btn {
        padding:0;
    }
}

tr.contextual {
    padding-top:0 !important; //#janky #shame
    padding-bottom:0 !important;
    > td {
        padding-top:0 !important;
        padding-bottom:0 !important;
        > form {
            @extend %flexible-parent; //@include display(flex);
            @extend %align-items-center; //@include align-items(center);
        }
    }
}

.eureka__topbar {
    @extend %bottom-seperated;
    //margin-bottom:1em;
    font-size:1.2em;
    
    @extend %align-items-stretch; //@include align-items(stretch);
    @extend %flexible-parent; //@include display(flex);
    @extend %flex-direction-column; //@include flex-direction(column);
    @extend %justify-content-flex-start; //@include justify-content(flex-start);
    @include media($gtTabletP) { 
        @include flex-direction(row);
    }
    > nav {
        @extend %growable; //@include flex-grow(1);
        @extend %unshrinkable; //@include flex-shrink(0);
        @extend %flex-wrappable; //@include flex-wrap(wrap);
        @extend %flex-direction-column; //@include flex-direction(column);
        
        a {
            cursor:pointer;
        }
        
        > header {
            @extend %flexible-parent; //@include display(flex);
            @extend %flex-unwrappable; //@include flex-wrap(nowrap);
            @extend %flex-direction-column; //@include flex-direction(column);
            @include media($gtMobile) {
                @include flex-direction(row);
            }
            > h4 {
                @extend %growable; //@include flex-grow(1);
                width:100%;
                text-align:center;
                margin:0.5em 0;
                @include media($gtMobile) {
                    width:auto;
                    text-align:left;
                    @include flex-grow(4);
                    margin:0;
                }
            }
            > form {
                @extend %growable; //@include flex-grow(1);
                @extend %flexible-parent; //@include display(flex);
                @extend %align-self-flex-end; //@include align-self(flex-end);
                width:100%;
                @include media($gtMobile) {
                    width:auto;
                }
                > input[type="search"] {
                    @extend %growable; //@include flex-grow(1);
                }
            }
        }
        
        > .eureka__topbar-nav__select {
            @extend %flexible-parent; //@include display(flex);
            @extend %align-items-center; //@include align-items(center);
            @extend %justify-content-flex-start; //@include justify-content(flex-start);
            @extend %flex-direction-column; //s@include flex-direction(column);
            @include media($gtMobile) {
                @include flex-direction(row);
            }
            padding-top:0.5em;
        }
        
        @include media($gtMobile) {
            @include flex-basis(14em);
            @include flex-wrap(nowrap);
        }
        
        @extend %flexible-parent; //@include display(flex);
        > a, .view-btns a, .browse-select {
            @include media($gtTabletP) {
                margin-right:0.4em;
            }
            html.no-flexbox {
                display:inline-block;
            }
        }
        .pathbrowser_toggle {
            width:12%;
            min-width:1.2em;
            @extend %align-self-flex-start; //@include align-self(flex-start);
            @include media($tabletP) {
                display:none;
            }
            @include media($gtTabletP) {
                width:auto;
            }
        }
        .view-btns {
            @extend %flexible-parent; //@include display(flex);
            //@include align-items(center);
            @include justify-content(center);
            @extend %growable; //@include flex-grow(1);
            @extend %align-self-flex-end; //@include align-self(flex-end);
            width:100%;
            text-align:center;
            > nav {
                @include media($mobile) {
                    @include display(flex);
                    @include flex-basis(100%);
                    > a {
                        @include flex-grow(1);
                    }
                }
            }
            @include media($gtTabletP) {
                width:auto;
                @include flex-grow(12);
                @include justify-content(flex-end);
            }
            a {
                margin-right:0;
                @extend %growable; //flex-grow(1);
                display:inline-block;
                cursor:pointer;
                &.view-c-btn {
                    @include media($tabletP) {
                        display:none;
                    }
                }
            }
        }
        .browse-select {
            width:88%;
            @extend %flexible-parent; //@include display(flex);
            @extend %align-items-center; //@include align-items(center);
            @extend %justify-content-center; //@include justify-content(center);
            @extend %flex-direction-column; //@include flex-direction(column);
            margin-bottom:1em;
            @include media($gtMobile) {
                margin-bottom:0;
            }
            @include media($gtTabletP) {
                width:auto;
                margin-bottom:0;
                @include flex-basis(14em);
                @include align-items(flex-start);
                @include justify-content(flex-start);
                @include flex-direction(row);
                padding-left:1em;
                
                &.tablet-p-hidden {
                    display:none;
                }
                
            }
            
            @include media($gtTabletP) {
                padding-right:0.5em;
                margin-right:0.7em;
                //border-right:1px solid $borderColor;
            }
            label {
                font-size:0.72em;
                line-height:2em;
                //@include flex(1);
            }
            form {
                //@include flex(4);
                button.nued {
                    background:$black;
                    color:$white;
                    .fa-chevron-right {
                        color:currentColor;
                    }
                }
            }
            .browsing {
                margin-right:0.5em;
            }
            select {
                margin:0;
            }
            .fa {
                color:lighten($black,40%);
            }
        }
        > a {
            html.js & {
                @extend %clickable;
            }
            html.no-js & {
                color:lighten($black,40%);
            }
        }
    }
    > form {
       @extend %growable; //@include flex-grow(1);
       @extend %unshrinkable; //@include flex-shrink(0);
       @extend %flex-basis-auto; //@include flex-basis(auto);
       
       @extend %align-items-stretch; //@include align-items(stretch);
       @extend %flexible-parent; //@include display(flex);
       @extend %flex-direction-row; //@include flex-direction(row);
       @extend %justify-content-flex-end; //@include justify-content(flex-end);
       margin-top:0.5em;
       @include media($gtTabletP) {
           margin-top:0;
       }
       > input {
           font-size:inherit;
           padding:0.1em 0.2em;
           @extend %growable; //@include flex-grow(1);
           @extend %unshrinkable; //@include flex-shrink(0);
           @extend %flex-basis-auto; //@include flex-basis(auto);
           
           max-width:32em;
       }
    }
}

.eureka__row-image {
    .view-d & {
        @extend %flexible-parent; //@include display(flex);
        @extend %flex-direction-column; //@include flex-direction(column);
        @extend %flex-unwrappable; //@include flex-wrap(nowrap);
        > .image {
            text-align:center;
            @extend %growable; //@include flex-grow(1);
            @extend %unshrinkable; //@include flex-shrink(0);
            @extend %flex-basis-auto; // @include flex-basis(auto);
            img {
                margin:0 auto;
            }
        }
        > code {
            @extend %growable; //@include flex-grow(1);
            @extend %unshrinkable; //@include flex-shrink(0);
            @extend %flex-basis-auto; // @include flex-basis(auto);
        }
    }
    .pathname {
        //display:block;
        white-space:nowrap;
        .view-b &, .view-c & {
            display:block;
            text-align:right;    
        }
    }
    input[type="radio"] {
        margin:1em 1em 0 0.5em;
    }
}