@import "bourbon/bourbon";
@import "grid-settings";

$border-box-sizing:false;
@import "neat/neat";

@import "spec/tacular";

html.no-flexbox {
    .eureka-wrapper {
        background:teal;
        overflow-y:scroll;
        display:table;
        footer.proceed {
            display:table-row;
            button {
                display:table-cell;
            }
        }
    }
    .eureka {
        .eureka-table {
            table {
                display:table;
            }
            thead {
                display:initial;
            }
            tbody {
                display:initial;
                max-height:200px;
            }
        }
        display:table-row;
        width:100%;
        .pathbrowser {
            min-width:12em;
            footer nav {
                @extend %clearfix;
                button, form {
                    width:44%;
                    float:left;
                }
                form {
                    float:right;
                }
            }
        }
        .pathbrowser, .stage {
            display:table-cell;
        }
        .droparea {
            display:none;
        }
        .view-btns {
            display:none;
        }
    }
    
    .eureka-table > table {
        width:100%;
    }
    
    .eureka-table > table > tbody > tr.contextual, .view-b .eureka-table > table > tbody > tr.contextual, .view-c .eureka-table > table > tbody > tr.contextual, .view-d .eureka-table > table > tbody > tr.contextual {
        position:relative;
    }
    
    .flexible_row {
        > a {
            width:20%;
            float:left;
        }
    }
    
}