@import "bourbon/bourbon";

$border-box-sizing:false;
@import "neat/neat";
$border-box-sizing:false;

@if $border-box-sizing == false {
  .eureka {
    box-sizing: border-box;
  }
  .eureka * {
    &,
    &::after,
    &::before {
      box-sizing: inherit;
    }
  }
}

@import "spec/tacular";

$gtMobileLH: min-height 360px 4 !default;
$gtMobilePH: min-height 480px 4 !default;

@mixin visually-hidden() {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  body:hover & {
    a,input,button {
      display: none !important;
    }
  }
}

%visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
  @include visually-hidden;
}

@import "layout/layout";

$gray:rgb(236,236,236); // MODX gray
$active:#3697cd; // MODX blue
$color:#081922; // MODX font color
$faded:#556C88; // MODX lighter color
$dangerous:red;

$palettes: ( // http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
    faded: (
        base:   $faded,
        light:  rgb(51,46,140),
        dark:   #447996
    ),
    gray: (
        base:  $gray,
        light: rgb(221,221,221),
        dark: rgb(85,85,85)
    ),
    heading: (
        base:  #535d6c,
        light: #90b1b9,
        dark: rgb(85,85,85)
    )
);

.dangerous {
  color:var(--dangerous, $dangerous);
}

@function palette($palette, $tone: 'base') { // http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
    @return map-get(map-get($palettes, $palette), $tone);
}





%flex-bar {
  display:flex;

  > * {
    margin-right:.5rem;
    &:last-of-type {
      margin-right:0;
    }
  }
}

.flex-bar {
  @extend %flex-bar;
}

%balanced {
  text-align:center;
}

a[role="presentation"] {
  color:currentColor !important;
  text-decoration:none !important;
}

#eureka__upload-form {

}

.eureka__table tr[tabindex] {
  &.eureka__focused-media-item {
    .eureka__td-filename {
      font-weight:bold;
    }
  }
  &:target {
    .eureka__td-media {
      > * {
        outline:3px solid #32AB9A;
      }
    }
    .eureka__td-filename {
      font-weight:bold;
    }
  }
}

@mixin button-reset() {
  background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: none; /* for input */
    -ms-user-select: none;
}

/* start leave out */
/*body {
  background:$gray;
  font: normal .8125em/1.375em "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  //font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  color:$color;
  margin:0;
  padding:0.5rem;
}*/
/* end leave out */

.visually-hidden {
  @extend %visually-hidden;
}

%bordered {
  border:var(--border-width, 1px) var(--border-style, solid) var(--panel-border-color, palette(gray, light));
}

%padded {
  padding:1rem;
  @include media($gtMobile) {
    padding:.5rem;
  }
}

%panel {
  @extend %bordered;
  @extend %padded;
  border-radius:0.25rem;

  background:var(--light-bg, white);
}

%horizontally-padded {
  @extend %padded;
  padding-top:0;
  padding-bottom:0;
}

.eureka {

  a {
    color:var(--link-color, $active);
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
  }

  h1,h2,h3,h4,h5,h6, thead {
    color:var(--subtle, palette(heading, dark));
  }

  @mixin button($doHover: true) {
    background:var(--button-bg, white);
    box-shadow: 0 0 0 1px var(--border-color, #E4E4E4);
    color:var(--button-color, #555555);
    border: 0;
    border-radius: 3px;
    padding:.5em .5em;
    @if $doHover {
      &:hover {
        background: $active;
        color: white;
        svg {
          fill: white;
        }
      }
    }
  }

  %button {
    @include button();
  }

  button[id^="eureka__tree-toggle__button"] { // keep this loose so we can append a React id
    margin-bottom:1rem;
    @include media($mobile) {
      width: 100%;
      min-height: 1.75rem;
    }
    @include media($gtMobile) {
      margin-bottom:0;
    }
  }

  @mixin primary-button() {
    background-color: #32AB9A;
    background-image: linear-gradient(#32AB9A, #00948E);
    box-shadow: none;
    color: white;
    &:hover {
      background-color: #2b9385;
      background-image: linear-gradient(#2b9385, #007571);
      color: white;
    }
    &:disabled {
      filter: grayscale(100%);
    }
  }

  *:disabled {
    cursor:not-allowed;
  }

  %primary-button {
    @include primary-button;
  }

  a.button {
    text-decoration:none;
    //font: .6875rem system-ui;
  }

  button, a.button {
    @extend %clickable;
    @include button();
    &.eureka__primary {
      @include primary-button();
    }
    &.dangerous {
      &:hover, &:active, &:focus, &:target {
        background-color: $dangerous;
        color:white;
        background-image: linear-gradient($dangerous, darken($dangerous,10%));
      }
    }
  }

  /* styling of blink/webkit marker */
  summary::-webkit-details-marker {
    //color:var(--color, $color);
  }
  /* styling of fierfox marker */
  details > summary:first-of-type  {
     //color:var(--color, $color);
  }

  input[type="text"] {
    padding-left:0.5rem;
    padding-right:0.5rem;
  }

  input[type="text"] {
    border-width:var(--border-width, 1px);
    border-style:var(--border-style, solid);
    border-color:var(--border-color, #E4E4E4);
  }

  fieldset {
    border:none;
    @include media($mobile) {
      border-width:var(--border-width, 1px);
      border-style:var(--border-style, solid);
      border-color:var(--border-color, #E4E4E4);
    }
  }

  .active {
    font-weight: bold;
  }

  details details {
    padding-left:.5em;
  }

  menu {
    display:none;
  }

  img {
    max-width:100%;
  }

  /*&.eureka__view-mode__table, &.eureka__view-mode__list {
    .eureka__pathbar {
      .eureka__context-buttons {
        display:none;
      }
    }
  }*/

  /*&.eureka__view-mode__thumb {

  }

  &.eureka__view-mode__grid {

  }

  &.eureka__view-mode__list {

  }*/

  .alert-info { // blue MODX message style
    background-color: var(--light-bg, #d9edf7);
    border-color: var(--border-color, #bce8f1);
    color: var(--subtle, #31708f);
  }

  .alert-success { // green success message
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }

  .eureka__button-bar {
    @extend %balanced;
    @extend %flex-bar;
    @include media($gtMobile) {

    }
  }

  .eureka__tree {
    margin-bottom:1rem;
    @media (pointer: coarse) { // make the tree for fat finger friendly
      font-size:1.4em;
      line-height:1.8;
    }
  }

  .eureka__tree-toggle {
    margin-bottom:1rem;
    @include media($gtMobile) {
      margin-bottom:0;
      button {
        //@include button-reset;
      }
    }
  }

  .eureka__context-buttons {
    @extend %bordered;
    justify-content:space-around;
    background:var(--button-bg, rgb(247,247,247));
    border-left:0;
    border-right:0;
    padding:.5rem 0;
    > a.button, button {
      font-size:.6875rem;
    }
  }

  &.eureka__view-mode__list {
    .eureka__context-buttons {
      padding-top:.35rem;
      padding-bottom:.35rem;
      > a.button, button {
        font-size:.6rem;
      }
    }
  }

  .eureka__table {
    min-width:100%;
    tr[contextmenu] {
      padding-top:.5rem;
      padding-bottom:.5rem;
      /*&:first-child {
        padding-top:0;
      }*/
      &.eureka__focused-media-item {
        &:last-child {
          padding-bottom:0;
        }
      }
    }
    td.comfortable {
      @extend %padded;
      p[class^="alert"] {
        margin:0;
      }
    }
  }

  .eureka__stage {
    @extend %panel;
    padding:0;
    margin-bottom:.5rem;
    @include media($gtMobile) {
      margin-bottom:0;
    }
    h1,h2,h3 {
      &:first-child {
        margin-top:0;
      }
    }
  }

  .eureka__stage__filter-view {
    //@extend %padded;
    padding:.5rem;
    .eureka__search-bar {
      line-height:2;
      @include media($gtMobile) {
        margin-left:auto;
        font-size:0.8rem;
        flex:1 0 auto;
        max-width:28em;
        //margin-left:2rem;
      }
      label {
        color:var(--subtle, $faded);

      }
      font-size:1rem;
      display:flex;
      margin-bottom:1rem;
      @include media($gtMobile) {
        margin-bottom:0;
      }
      input {
        flex:1 0 auto;
        font-size:inherit;
      }
    }
  }

  .eureka__media-directory-selector {
    margin-bottom:1rem;

    @include media($gtMobile) {
      margin-right:auto;
    }
    button[type="submit"] {
      margin-left:1rem;
    }
    form {
      position: relative;
      /*&::after {
        display:inline-block;
        width:1em;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background:red;
        content:'.';
      }*/
    }
    select {
      @include media($mobile) {
        width: 100%;
        margin-top: .5em;
      }
      @extend %clickable;
      @include button(false);
      appearance: none;
      //background-image: url('../img/select-arrow.svg');
      background-image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 51 74.88'><rect y='19.88' width='51' height='55' fill='none'/><path d='M37,28.88A1.56,1.56,0,0,1,36.52,30L25.14,41.39a1.59,1.59,0,0,1-2.29,0L11.48,30a1.63,1.63,0,0,1,1.14-2.77H35.38A1.65,1.65,0,0,1,37,28.88Zm0-9.75a1.65,1.65,0,0,1-1.62,1.63H12.63A1.62,1.62,0,0,1,11.48,18L22.86,6.61a1.59,1.59,0,0,1,2.29,0L36.52,18A1.56,1.56,0,0,1,37,19.13Z' transform='translate(-0.5 -6.13)' fill='#979797'/></svg>");
      background-size: contain;
      background-repeat: no-repeat;
      background-scale: 70% 70%;
      background-position: right .5em;
      /*&:hover {
        background: transparent;
        //background-image: url('../img/select-arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-scale: 70% 70%;
        background-position: right .5em;
        color: currentColor;
        //--border-color: var(--active, $active);
      }*/
      //background: red;
    }
  }

  .eureka__tree-bar {
    @extend %flex-bar;
    margin:1rem 0 0 0;
    button {
      font-size:1rem;
      flex:1 0 auto;
    }
  }

  .eureka__media-source-selector {
    margin-bottom:1rem;
    h2,h3 {
      &:first-child {
        margin-top:0;
      }
    }
  }

  .eureka__upload-form {
    margin-bottom: 1rem;
    label {
      @include media($mobile) {
        display: block;
      }
      @extend %clickable;
      @include button();
      font-size: .6875rem;
      text-align: center;
    }
    input[type="file"] {
      @extend %visually-hidden;
    }
  }

  *[class^="alert"] {
    @extend %panel;
  }

  .eureka__notice {
    @extend %balanced;
  }

  .eureka__choose-bar {
    justify-content:flex-end;
    /*@include media($gtMobile) {
      justify-content:flex-end;
    }*/
    button {
      font-size:1rem;
      @include media($gtMobile) { // todo: and if not that tall
        font-size:.8rem;
      }
    }
  }

  .eureka__pathbrowser {
    @extend %panel;
    margin-bottom:.5rem;
    @include media($gtMobile) {
      margin-bottom:0;
    }
    nav {
      color:var(--subtle, $faded);
    }
    details {
      > summary {
        svg {
          transform:translateY(0.2em);
          margin-right:0.25em;
        }
        > .icon-folder-open {
          display:none;
        }
      }
      &[open] {
        > summary {
          > .icon-folder-open {
            display:inline-block;
          }
          > .icon-folder {
            display:none;
          }
        }
      }
    }
  }

  .eureka__pathbar {
    @extend %panel;
    margin-bottom:1rem;
    @include media($gtMobile) {
      margin-bottom:.5rem;
    }
    summary {
      word-wrap: break-word;
    }
    details {
      > div {
        padding-top:1rem;
      }
    }
    .eureka__context-buttons {
      background:none;
      border:none;
    }
  }

  .eureka__layout-chooser {
    color:var(--subtle, $faded);
    fieldset {
      margin:0;
      padding:.5em 0;
      @include media($gtMobile) {
        padding:0;
      }
    }
    legend {
      @extend %visually-hidden;
    }
    .eureka__icon-radio-btns {
      display:flex;
      justify-content: space-around;

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      input[type="radio"], input[type="checkbox"] {
        @extend %visually-hidden;
        &:checked {
          + {
            label {
              svg[class^="icon"] {
                fill:var(--active, $active);
              }
            }
          }
        }
      }
      label {
        @extend %clickable;
        font-size:1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  svg {
    &[class^="icon"] {
      position:relative;
      width:1em;
      height:1em;
      fill:currentColor;
    }
  }

  .eureka__hide-for-mobile-up {
    @include media($gtMobile) {
      display:none;
    }
  }

  .eureka__show-for-mobile-up {
    @include media($mobile) {
      display:none;
    }
  }

  .eureka__drop-area {
    flex:2 8 auto;
    display:flex;
    cursor:pointer;
  }

  .eureka__drop-area-zone {
    width:100%;

    padding:.5rem;

    border-width: 2px;
    border-color: var(--very-subtle, palette(gray, light));
    border-style: dashed;
    border-radius: 5px;
    background-color:transparent;
    transition:border-color 240ms ease, background-color 320ms ease 120ms;


    justify-content: center;
    align-items: center;

    display:none;


    @include media($gtMobileLH) {
      display: flex;
    }

    svg {
      font-size:4em;
      fill:var(--very-subtle, palette(gray, light));
      transition:fill 240ms ease 160ms, opacity 240ms ease;
      opacity:var(--very-subtle-icon-opacity, 0.42);
      max-height:100%;
    }

    &.eureka__drop-area-zone-active {
      background-color:lighten($active, 40%);
      border-color: var(--active, $active);
      transition:border-color 240ms ease 120ms, background-color 320ms ease 0;
      svg {
        fill:var(--active, $active);
        opacity:1;
      }
    }
  }

  .eureka__modal {
    @extend %absolute-corners;

    display:flex;
    justify-content:center;
    align-items: center;

    .eureka__modal-scrim {
      @extend %absolute-corners;
      background:rgba(8,8,8,0.25);
      z-index:0;
    }

    .eureka__modal-panel {
      @extend %panel;
      @extend %bordered;
      min-width:30vw;
      //min-height:30vh;
      max-width:70vw;
      max-height:70vh;
      position:relative;
      z-index:$topMost;
      h1,h2,h3 {
        &:first-child {
          margin-top:0;
        }
      }
      label {
        display:block;
        margin-bottom:.5rem;
      }
      input[type="text"] {
        width:100%;
        font-size:1.4em;
      }
      .flex-bar {
        margin-top:.5rem;
        > * {
          flex:1 0 auto;
          &:last-child {
            @extend %primary-button;
          }
        }
      }
    }
  }

  /*#eureka__tree-toggle__button {
    position:relative;
    svg {
      position:absolute;
      top:0;
      bottom:0;
    }
  }*/

} // end .eureka
